@charset "UTF-8";

/* 初期化用 */
@import url(reset.css);

/* 全体 */
body {
  width: 100%;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";

  &>* {
    width: 1000px;
    margin: 0 auto;
  }
}

/* ヘッダー */
header {
  background: url("../img/rakuraku.png");
  background-repeat: no-repeat;
  display: table;
  height: 150px;

  #headTitle {
    display: table-cell;
    padding-left: 200px;
    color: #f70;
    font-size: 70px;
    font-weight: bold;
    vertical-align: bottom;
  }
}

/* メニューバー */
.navBar {
  height: 50px;

  &>* {
    height: inherit;
    float: left;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &>.parentBox {
    &>.parentColumn {
      background: #f90;
      display: block;
      float: left;
      width: 240px;
      height: 40px;
      margin: 5px;
      border-radius: 10px;
      list-style: none;
      text-align: center;
      line-height: 40px;

      &:hover {
        background: #f70;
      }
    }
  }

  .navItem {
    color: #fff;
  }
}

/* コンテンツ全体 */
#contents {
  margin: 20px auto;

  &>section {
    margin: 0 5px;

    h1 {
      height: 40px;
      margin-top: 20px;
      color: #f70;
      font-size: 1.6em;
      line-height: 40px;
    }
  }
}

/* Home */
.home201412 {
  margin: 20px 95px;
}

/* About */
#about {
  h2 {
    background: url("../img/rakuraku.png");
    background-repeat: no-repeat;
    background-size: 30px;
    height: 30px;
    margin-top: 20px;
    padding-left: 35px;
    border-bottom: 1px dotted #f70;
    font-size: 1.2em;
    line-height: 30px;
  }

  p {
    margin-top: 10px;
    padding-left: 40px;

    &.annotation {
      padding-left: 50px;
    }
  }
}

/* LT資料 */
#ltData {
  .accordionBox {
    margin: 20px;
  }

  .accordionTitle {
    background: #f90;
    display: block;
    height: 40px;
    color: #fff;
    line-height: 40px;

    &::before {
      content: " ＋ ";
    }

    &:hover {
      background: #f70;
    }
  }

  .accordionItem {
    display: none;
    border-left: 1px solid #f90;
    border-right: 1px solid #f90;

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      padding-bottom: 10px;
      border-bottom: 1px solid #f90;
    }

    & > * {
      padding-left: 20px;
    }
  }
}

/* フッター */
footer {
  #copyright {
    background: #f90;
    margin: 5px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
  }
}